<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PhotoCanvas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      &ensp;&ensp;&ensp;
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        &ensp;&ensp;&ensp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Image
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'crop_image' %}">Crop Image</a></li>
            <li><a class="dropdown-item" href="#">Logo</a></li>
            <li><a class="dropdown-item" href="#">Costum Size</a></li>

          </ul>
        </li>
        &ensp;&ensp;&ensp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">For You</a>
        </li>
        &ensp;&ensp;&ensp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Social Media
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Facebook</a></li>
            <li><a class="dropdown-item" href="#">Instagram</a></li>
            <li><a class="dropdown-item" href="#">Twitter</a></li>
            <li><a class="dropdown-item" href="#">Linkedin</a></li>
            <li><a class="dropdown-item" href="#">Github</a></li>

          </ul>
        </li>
        &ensp;&ensp;&ensp;

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Videos</a>
        </li>
        &ensp;&ensp;&ensp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Docs</a>
        </li>
        &ensp;&ensp;&ensp;
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Persentation</a>
        </li>
        &ensp;&ensp;&ensp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Document</a>
        </li>
        &ensp;&ensp;&ensp;
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>