@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;

  background-color: red !important;
}

.logo,
.navbar-brand {
  font-size: 24px !important;
  font-weight: 900 !important;
  font-family: "Dancing Script", sans-serif !important;
  background: -webkit-linear-gradient(40deg, #2096ff, #05ffa3);
  -webkit-background-clip: text;
  -webkit-background-clip: linear-gradient;
  -webkit-text-fill-color: transparent;
}
